

</table> 
<link rel="stylesheet" href="/css/student_details.css">
<div id="table-div">
    <table id="table1">
        <tr>
            <th>Batch</th>
            <td><%= record.batch %></td>
        </tr>
        <tr><th>Name</th>
            <td><%= record.details.name%></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><%= record.details.email%></td>
        </tr>
        <tr>
            <th>College</th>
            <td><%= record.details.college%></td>
        </tr>
        <tr>
            <th>Status</th>
            <td><%= record.details.status%></td>
        </tr>
        <tr>
            <th>Mobile_Number</th>
            <td><%= record.details.mobileNo%></td>
        </tr>
        <tr>
            <th>DSA Score</th>
            <td><%= record.Course_score.DSA%></td>
        </tr>
        <tr>
            <th>WebD Score</th>
            <td><%= record.Course_score.WebD%></td>
        </tr>
        <tr>
            <th>React Score</th>
            <td><%= record.Course_score.React%></td>
        </tr>
    </table>

   <div id="div-table2">
    <table id="table2">
        <thead>
            <th>Company Name</th>
            <th>Date</th>
        </thead>
        <tbody>            
            <% record.interviews.forEach( (intview)=>{%>
                <tr>
                    <td><%=intview.companyName %></td>
                    <td><%=intview.date %></td>
                </tr>
            <% }) %>
        </tbody>
       
    </table>
   </div>
</div>

<div id="interview-button">
   <form action="/student/add-interview/?id=<%=record._id%>" method="post">
       <select name="interview">
           <option value="">Select Interviews</option>
           <% interviews.forEach( (i)=>{ %>
            <option value="<%= i._id%>"><h6><%= i.companyName %></h6> &nbsp &nbsp<h6><%= i.date%></h6></option>
           <% }) %>
       </select>
       <button>Add Interview</button>
   </form>    
</div>
